.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input--box {
  width: 100%;
  border-radius: 3.125rem;
  padding: 1.25rem 1.875rem;
  font-size: 1.563rem;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input--box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input--submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0.75rem;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 1rem;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input--submit:hover {
  background-color: #388ae2;
}

.input--submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.ToDoList--container {
  display: grid;
  width: 95%;
  justify-content: flex-end;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0 0.685rem 0;
  gap: 1rem;
}

.todos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(50, 195, 205);
}

.ToDoList--heading {
  font-size: 1.875rem;
  margin: auto 0;
  color: white;
}

.remove {
  background-color: rgb(235, 103, 80);
}

.todos--single {
  display: flex;
  border-radius: 0.313rem;
  padding: 1.25rem;
  margin-top: 0.938rem;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  transition: 0.2s;
}

.todos--single:hover {
  transform: scale(1.03);
}

.todos--singleText {
  flex: 1;
  padding: 0.313rem;
  border: none;
  font-size: 1.25rem;
}

.todos--singleText:focus {
  outline: none;
}

.todos--icon {
  margin-left: 0.625rem;
  font-size: 1.563rem;
  cursor: pointer;
}

.todos--edit {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .ToDoList--container {
    grid-template-columns: 1fr;
  }
}
